# =========================
# Dependencies
# =========================
node_modules/
**/node_modules/

# =========================
# Build outputs
# =========================
dist/
build/
**/dist/
**/build/

# Vite
client/dist

# =========================
# Environment files
# =========================
.env
.env.*
**/.env
**/.env.*

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Testing
# =========================
coverage/
